:root {
  --primary-color: #fffc52;
  --secondary-color: #272727;
  --additional-color: #fd2155;
  --selection-color: #343434;
}

body {
  background-color: #1d1d1d;
  font-family: "Questrial", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background: var(--selection-color);
}

::-moz-selection {
  background: var(--selection-color);
}

h2 {
  font-size: 150px;
  color: var(--primary-color);
  margin-top: 150px;
  margin-bottom: 0;
  margin-left: 80px;
}

p {
  font-size: 26px;
  color: white;
  padding-left: 80px;
  line-height: 2;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-colour {
  background-color: #1d1d1d;
  font-size: 19px;
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-right: 15px;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='	rgb(52,52,52)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.hello {
  font-size: 200px;
  color: var(--primary-color);
  margin-top: 150px;
  margin-bottom: 0;

  line-height: 1;
}

.ola {
  font-size: 200px;
  color: white;
  padding-left: 0px;
  margin-left: 80px;
}

.front-end-dev {
  font-size: 26px;
  color: white;
  padding-left: 0px;
  margin-left: 80px;
}

.highlight-skills {
  color: var(--primary-color);
}

.portfolio-p {
  padding-left: 90px;
}

.contact-p {
  padding-left: 80px;
}

.contact-logos {
  font-size: 50px;
  color: var(--primary-color);
}

.contact-links {
  font-size: 26px;
  text-decoration: none;
  color: white;
}

.all-contact-details {
  margin-top: 90px;
}

.social-media {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 55px;
}

.sheCodes:hover {
  color: white;
}

img {
  width: 381px;
  height: 235px;
  margin-top: 30px;
  margin-left: 90px;
  margin-bottom: 30px;
}

.portfolio-description {
  padding: 0px;
  margin-top: 25px;
}

.project-title {
  color: var(--primary-color);
  font-weight: 600;
  text-align: left;
}

.last-row {
  margin-bottom: 100px;
}

.thanks {
  font-family: "Roboto", sans-serif;
  font-size: 200px;
  color: var(--selection-color);
}

.thanks-box {
  margin-top: 100px;
}

@media (max-width: 576px) {
  img {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    height: 200px;
    display: block;
  }

  .croissant-screenshot {
    margin-top: 0px;
  }

  h2 {
    font-size: 75px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }

  p {
    padding-left: 0;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
  }

  .contact-p {
    padding-left: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .all-contact-details {
    margin-top: 50px;
  }

  .contact-links {
    margin-bottom: 30px;
  }

  .portfolio-p {
    padding-left: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .project-title {
    font-size: 26px;
    text-align: left;
  }

  .hello {
    margin-left: 30px;
    margin-top: 100px;
    font-size: 100px;
  }

  .ola {
    margin-left: 30px;
    padding-left: 0px;
    font-size: 100px;
  }

  .front-end-dev {
    margin-left: 30px;
    padding-left: 0px;
  }

  .navbar-detail {
    padding-right: 0px;
  }

  .thanks {
    font-size: 40px;
  }
}
